html, body {
	width: 100%;
	height: 100%;
	background: #000000;
	overflow: hidden;
}

.wraps {
	background-color:#000;
	/*
	background-image: url(http://placehold.it/1920x1280);background-repeat:no-repeat;
	background-size:cover;background-position:50% 50%;
	*/
}