/* myPage */
#myPageLocation {
    cursor: pointer;
}

/* COMMON */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'NanumSquare', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
   /* overflow-x: hidden;*/
}

ul {
    list-style-type: none;
}

#wrap {
    width: 100%;
    height: 100%;
}

/* loading */
#Progress_Loading {
    position: absolute;
    left: 50%;
    top: 50%;
}


/* HEADER */
header {
    width: 100%;
    min-width: 1200px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #ccc;
    position: fixed;
    z-index: 3;
}
.colorRed{color:#f00;}
.headerContainer {
    width: 1400px;
    height: 60px;
    margin: 0 auto;
}

.headerContainer > .currentMenu {
    width: 45px;
    height: 45px;
    float: left;
    margin-top: 7px;
}

/* LEFT MENU BUTTON */
.menu-trigger, .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    display: block;
    position: relative;
    top: 10px;
    left: 5px;
    width: 50px;
    height: 30px;
    float: left;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 70%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
    top: 0px;
}

.menu-trigger span:nth-of-type(2) {
    top: 10px;
}

.menu-trigger span:nth-of-type(3) {
    top: 20px;
}

.menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg);
}

.headerContainer > .currentLogo {
    width: 200px;
    height: 50px;
    margin-top: 7px;
    float: left;
    cursor: pointer;
    margin-left: 10px;
}

.headerContainer > .currentAllSearch {
    width: 500px;
    height: 50px;
    margin-top: 7px;
    margin-left: 10px;
    float: left;
}

.headerContainer > .currentAllSearch > select {
    width: 120px;
    height: 45px;
    font-size: 18px;
    text-indent: 10px;
    outline: none;
    float: left;
    border: 1px solid #333;
    padding-top: 5px;
    cursor: pointer;
    background: none;
}

.headerContainer > .currentAllSearch > .headerSearchInputText {
    width: 300px;
    height: 45px;
    margin-left: -1px;
    text-indent: 10px;
    font-size: 18px;
    outline: none;
    float: left;
    background: none;
    border: none;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    padding-top: 5px;
}

.headerContainer > .currentAllSearch > i {
    font-size: 20px;
    display: block;
    width: 35px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    float: left;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.headerContainer > .headerRightContent {
    width:340px;
    height: 45px;
    margin-top: 5px;
    float: right;
}

.headerContainer > .headerRightContent > a > .teamInvite {
    width: 130px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    cursor: pointer;
    color: #000;
}

.headerContainer > .headerRightContent > a > .teamInvite > i {
    font-size: 18px;
}

.headerContainer > .headerRightContent > a > .teamInvite > p {
    padding-left: 10px;
    font-size: 18px;
}

/* DIM LAYER POPUP */
.pop-layers .pop-containers {
    background-color: #fff;
    border-radius: 10px;
}

.pop-layers {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: auto;
    z-index: 10;
}

.dim-layers {
    display: none;
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.dim-layers .dimBgs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
}

.dim-layers .pop-layers {
    display: block;
    width: 600px;
}

.pop-layers .pop-containers > .pop-contss > .pop-conts-headers {
    width: 100%;
    height: 50px;
    background-color: #eee;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
}

.pop-layers .pop-containers > .pop-contss > .pop-conts-headers > p {
    float: left;
    padding: 15px;
}

.pop-layers .pop-containers > .pop-contss > .pop-conts-headers > a {
    float: right;
    padding: 15px;
    color: #000;
}

.pop-layers .pop-containers > .pop-contss > .pop-conts-sections {
    width: 100%;
    height: 350px;
    font-size: 20px;
    clear: both;
}

.pop-layers .pop-containers > .pop-contss > .pop-conts-sections > .pop-conts-section-titles {
    width: 100%;
    padding: 20px;
}

.pop-layers .pop-containers > .pop-contss > .pop-conts-sections > .pop-conts-section-titles > form > span {
    margin-left: 7px;
}

.pop-layers .pop-containers > .pop-contss > .pop-conts-sections > .pop-conts-section-titles > form > .projectTitleInputs {
    margin-top: 7px;
    font-size: 20px;
    width: 100%;
    outline: none;
    padding: 5px;
}

.projectContentInputs {
    margin-top: 7px;
    font-size: 20px;
    width: 100%;
    outline: none;
    padding: 5px;
}

.layerPopUpBtnsss {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.createProjectSubmits {
    font-size: 20px;
    background-color: #746fcc;
    color: #fff;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    float: left;
}

.layerPopupCloses {
    display: block;
    border: 1px solid #ccc;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    float: left;
    text-align: center;
    line-height: 50px;
    margin-left: 20px;
    color: #000;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm {
    width: 50px;
    height: 50px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > i {
    font-size: 25px;
    cursor: pointer;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > ul > li {
    font-size: 20px;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-1 > i {
    font-size: 30px;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-1 > p {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-2 {
    font-size: 20px;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-2 > i {
    font-size: 30px;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-2 > p {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-2 > ul > li {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #dee3eb;
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-2 > ul > li > i {
    vertical-align: middle;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-2 > ul > li > span {
    vertical-align: middle;
}

/* 알림 첫번째 탭 */
.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-1 {
    font-size: 20px;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-1 > i {
    font-size: 30px;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-1 > p {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-1 > ul > li {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #dee3eb;
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-1 > ul > li > i {
    vertical-align: middle;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-1 > ul > li > span {
    vertical-align: middle;
}

/* 알림 세번째 탭 */
.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-3 {
    font-size: 20px;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-3 > i {
    font-size: 30px;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-3 > p {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-3 > ul > li {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #dee3eb;
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-3 > ul > li > i {
    vertical-align: middle;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-3 > ul > li > span {
    vertical-align: middle;
}

/* 알림 네번째 탭 */
.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-4 {
    font-size: 20px;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-4 > i {
    font-size: 30px;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-4 > p {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-4 > ul > li {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #dee3eb;
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-4 > ul > li > i {
    vertical-align: middle;
}

.headerContainer > .headerRightContent > .updateHeader > .alarm > .dialogs > #tabs > #tabs-4 > ul > li > span {
    vertical-align: middle;
}



.headerContainer > .headerRightContent > .updateHeader > .currentUser {
    position: relative;
    width: 70px;
    height: 50px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer > .headerRightContent > .updateHeader > .currentUser > img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
}

.headerContainer > .headerRightContent > .updateHeader > .currentUser > i {
    margin-left: 5px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}
.facing {
	display:block;width:40px;height:40px;cursor:pointer;
	margin-top:13px;float:left;color:#000;font-size:25px;
	position:relative;padding-left:10px;
}
.messageCounterDiv {
	position:absolute;right:0px;bottom:7px;z-index:5;width:20px;height:20px;
	border-radius:100%;background-color:#f00;display:none;
}
.messageCounterDiv > span {
	padding-top:1px;
	display:block;font-size:15px;vertical-align:middle;color:#fff;font-weight:bold;text-align:center;
}
.friendCounterDiv {
	position:absolute;right:0px;bottom:7px;z-index:5;width:20px;height:20px;
	border-radius:100%;background-color:#f00;display:none;
}
.friendCounterDiv > span {
	padding-top:1px;
	display:block;font-size:15px;vertical-align:middle;color:#fff;font-weight:bold;text-align:center;
}

.dialog__trigger, .dialog__action {
    display: block;
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.dialog {
    width: 300px;
    background-color: #fff;
    border: 1px solid #dee3eb;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 180ms ease-in;
    transition: all 180ms ease-in;
    margin-top: 20px;
    box-shadow: 0px 0px 5px #000;
    padding: 20px;
}

.dialog.dialog--active {
    top: 40px;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

.dialogUserImg {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #dee3eb;
}

.dialogUserImg > img {
    width:100px;height:100px;background-color:#fff;
    border-radius: 100%;
}

.dialogUserImg > p {
    font-size: 25px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.dialog > ul {
    margin-top: 20px;
}

.dialog > ul > li {
    margin: 10px 0px 10px 0px;
}

.dialog > ul > li > a {
    font-size: 20px;
    padding-left: 10px;
    color: #000;
}

.dialog > ul > li > label{font-size:20px;padding-left:10px;color:#000;cursor:pointer;}

.dialog__triggers, .dialog__actions {
    display: block;
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.dialogs {
    width:600px;
    background-color: #fff;
    border: 1px solid #dee3eb;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 180ms ease-in;
    transition: all 180ms ease-in;
    margin-top: 20px;
    box-shadow: 0px 0px 5px #000;
    padding: 20px;
}

.dialogs.dialog--actives {
    top: 40px;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

.dialogs > ul {
    margin-top: 20px;
}

.dialogs > ul > li {
    margin: 10px 0px 10px 0px;
}

.dialogs > ul > li > a {
    font-size: 20px;
    padding-left: 10px;
}

.dialog__triggerss, .dialog__actionss {
    display: block;
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.dialogss {
    width: 300px;
    background-color: #fff;
    border: 1px solid #dee3eb;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 180ms ease-in;
    transition: all 180ms ease-in;
    margin-top: 20px;
    box-shadow: 0px 0px 5px #000;
    padding: 20px;
    font-size:20px;
}
.dialogss > ul{height:120px;}
.dialogss > ul > li{width:100%;height:30px;cursor:pointer;}

.dialogss.dialog--activess {
    top: 40px;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

/* LEFT MENU */
.leftMenuUserInterface {
    width: 100%;
    text-align: center;
    padding: 40px 0px 40px 0px;
    position: relative;
    background-image: url("../images/leftMenuUserInterfaceImg.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.leftMenuUserInterface > img {
    background-color:#fff;
    width:100px;height:100px;
    border-radius: 100%;
    box-shadow: 0px 0px 20px #fff;
    position: relative;
    z-index: 2;
}

.leftMenuUserInterface > p {
    font-size: 25px;
    margin-top: 20px;
    color: #fff;
    z-index: 2;
    position: relative;
}

.dimLeftMenuUserInterface {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
}

.cbp-spmenu {
    position: fixed;
}

.cbp-spmenu-vertical {
    width: 250px;
    height: 100%;
    top: 0;
    z-index: 2;
    border-right: 1px solid #dee3eb;
}

.cbp-spmenu-left {
    left: -250px;
}

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.cbp-spmenu-push-toright {
    left: 250px;
}

.cbp-spmenu-push-toleft {
    left: -250px;
}

.cbp-spmenu, .cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cbp-spmenu-vertical > .currentMainLeftMenu {
    width: 100%;
    float: left;
    background-color: #fff;
}

.cbp-spmenu-vertical > .currentMainLeftMenu > .firstMenu > li:last-child {
    margin-bottom: 20px;
}

.cbp-spmenu-vertical > .currentMainLeftMenu > .firstMenu {
    border-top: 1px solid #dee3eb;
    border-bottom: 1px solid #dee3eb;
}

.cbp-spmenu-vertical > .currentMainLeftMenu > .menuList {
    border-bottom: 1px solid #dee3eb;
}
.cbp-spmenu-vertical > .currentMainLeftMenu > .sayGoodBye {
	border-top:1px solid #dee3eb;
    border-bottom: 1px solid #dee3eb;
}

.cbp-spmenu-vertical > .currentMainLeftMenu > .menuList > li:last-child {
    margin-bottom: 20px;
}
.cbp-spmenu-vertical > .currentMainLeftMenu > .boardMenu > li:last-child {
    margin-bottom: 20px;
}
.cbp-spmenu-vertical > .currentMainLeftMenu > .sayGoodBye > li:last-child {
    margin-bottom: 20px;
}

.cbp-spmenu-vertical > .currentMainLeftMenu > ul > li:first-child {
    margin-top: 20px;
}

.cbp-spmenu-vertical > .currentMainLeftMenu > ul > li {
    height: 38px;
    font-size: 18px;
    text-align: left;
    padding: 10px 0px 10px 20px;
    cursor: pointer;
    text-indent: 10px;
    clear: both;
}

.cbp-spmenu-vertical > .currentMainLeftMenu > ul > li:hover {
    background-color: #eee;
}

.cbp-spmenu-vertical > .currentMainLeftMenu > ul > li > i {
    vertical-align: middle;
    float: left;
}

.cbp-spmenu-vertical > .currentMainLeftMenu > ul > li > p {
    float: left;
}

.cbp-spmenu-vertical > .currentMainLeftMenu > ul > li > p > a {
    color: #000;
}

/* SECTION */
.currentMain {
    width: 100%;
    min-height:100%;
    background-color: #f2f4f7;
    padding-top: 60px;
    float: left;
}

.currentMain > .currentMainContainer {
    width: 1400px;
    margin: 0 auto;
}

/* MAIN SLIDE */
.currentMainSlide {
    width: 100%;
    height: 500px;
    background-color: #fff;
    border: 1px solid #dee3eb;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
}

.currentMain > .currentMainContainer > .currentMainProjectCreate {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    position: relative;
    width: 1400px;
    height: auto;
    border: 1px solid #dee3eb;
    float: left;
    margin: 20px 0px 0px 0px;
    background-color: #fff;
    padding: 20px;
}

.currentMain > .currentMainContainer > .currentMainProjectCreate > .projectCreateULS {
    float: left;
}

.currentMain > .currentMainContainer > .currentMainProjectCreate > .bookmarkProject {
    float: left;
}

.currentMain > .currentMainContainer > .currentMainProjectCreate > h1 {
    font-weight: normal;
    font-size: 30px;
    padding: 20px 0px 0px 50px;
    height: 60px;
}

.currentMain > .currentMainContainer > .currentMainProjectCreate > h2 {
    font-size: 40px;
    padding: 20px 42px 0px 0px;
}

.currentMain > .currentMainContainer > .currentMainProjectCreate > h2 > i {
    font-weight: normal;
    cursor: pointer;
}

.currentMain > .currentMainContainer > .currentMainProjectCreate > ul {
    display: block;
    width: 1300px;
    margin: auto;
}

.currentMain > .currentMainContainer > .currentMainProjectCreate > ul > li:first-child {
    cursor: pointer;
}

.currentMain > .currentMainContainer > .currentMainProjectCreate > ul > li {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.currentMain > .currentMainContainer > .currentMainProjectCreate > ul > li:first-child > a > .projectCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: 70px;
    font-size: 20px;
    border: 1px solid #dee3eb;
    width: 200px;
    height: 70px;
    text-align: center;
    color: #000;
    z-index: 1;
    letter-spacing: -1px;
}

/* DIM LAYER POPUP */
.pop-layer .pop-container {
    background-color: #fff;
    border-radius: 10px;
}

.pop-layer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: auto;
    z-index: 10;
}

.dim-layer {
    display: none;
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.dim-layer .dimBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
    display: block;
    width: 600px;
}

.pop-layer .pop-container > .pop-conts > .pop-conts-header {
    width: 100%;
    height: 50px;
    background-color: #eee;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
}

.pop-layer .pop-container > .pop-conts > .pop-conts-header > p {
    float: left;
    padding: 15px;
}

.pop-layer .pop-container > .pop-conts > .pop-conts-header > a {
    float: right;
    padding: 15px;
    color: #000;
}

.pop-layer .pop-container > .pop-conts > .pop-conts-section {
    width: 100%;
    font-size: 20px;
    clear: both;
}

.pop-layer .pop-container > .pop-conts > .pop-conts-section > .pop-conts-section-title {
    width: 100%;
    padding: 20px;
}

.pop-layer .pop-container > .pop-conts > .pop-conts-section > .pop-conts-section-title > span {
    margin-left: 7px;
}

.pop-layer .pop-container > .pop-conts > .pop-conts-section > .pop-conts-section-title > form > .projectTitleInput {
    margin-top: 7px;
    font-size: 20px;
    width: 100%;
    outline: none;
    padding: 5px;
}

.projectContentInput {
    margin-top: 7px;
    font-size: 20px;
    width: 100%;
    outline: none;
    padding: 5px;
    height:200px;
}

.projectStartEndDiv {
    margin-top: 20px;
}

.projectStart {
    float: left;
    padding-top: 3px;
}

.projectStartInput {
    float: left;
    font-size: 20px;
    margin-left: 15px;
}

.projectEnd {
    clear: left;
    float: left;
    padding-top: 3px;
    margin-top: 15px;
}

.projectEndInput {
    float: left;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 15px;
}

.layerPopUpBtnss {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.createProjectSubmit {
    font-size: 20px;
    background-color: #746fcc;
    color: #fff;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    float: left;
}

.layerPopupClose {
    display: block;
    border: 1px solid #ccc;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    float: left;
    text-align: center;
    line-height: 50px;
    margin-left: 20px;
    color: #000;
}

.currentMain > .currentMainContainer > .currentMainProjectCreate > ul > li > .projectCard {
    display: flex;
    line-height: 40px;
    flex-direction: column;
    font-size: 25px;
    background-color: #fff;
    border: 1px solid #dee3eb;
    width: 300px;
    height: 300px;
    text-align: center;
}

.currentMain > .currentMainContainer > .currentMainProjectCreate > ul > li > .projectCard > .projectCardTitle {
    background-color: #746fcc;
    width: 300px;
    height: 180px;
    line-height: 180px;
    color: #fff;
    font-size: 22px;
    position: relative;
    cursor: pointer;
}
.currentMain > .currentMainContainer > .currentMainProjectCreate > ul > li > .projectCard > .projectCardTitle > .settingsA > i.icon-settings {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color:#fbfbfb;
}
.currentMain > .currentMainContainer > .currentMainProjectCreate > ul > li > .projectCard > .projectCardTitle > .settingsA > i.icon-settings:hover {
    color: white;
    font-weight: bold;
}
.currentMain > .currentMainContainer > .currentMainProjectCreate > ul > li > .projectCard > .projectCardTitle > .ajaxProjectTitle {
    color: #fbfbfb;
}
.currentMain > .currentMainContainer > .currentMainProjectCreate > ul > li > .projectCard > .projectCardTitle > i.icon-star {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.currentMain > .currentMainContainer > .currentMainProjectCreate > ul > li > .projectCard > .projectCardTitle > i.icon-star:hover {
    color: yellow;
    font-weight: bold;
}

.currentMain > .currentMainContainer > .currentMainProjectCreate > ul > li > .projectCard > .projectCardTitle > a > i.icon-settings {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.currentMain > .currentMainContainer > .currentMainProjectCreate > ul > li > .projectCard > .projectCardTitle > a > i.icon-settings:hover {
    color: white;
    font-weight: bold;
}

.currentMain > .currentMainContainer > .currentMainProjectCreate > ul > li > .projectCard > .projectCardUserName {
    font-size: 22px;
    line-height: 30px;
}

.currentMain > .currentMainContainer > .currentMainProjectCreate > ul > li > .projectCard > .projectCardUserName > img {
    margin-top: 25px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.currentMain > .currentMainContainer > .currentMainProjectCreates {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 1400px;
    height: auto;
    border: 1px solid #dee3eb;
    float: left;
    margin: 20px 0px 20px 0px;
    background-color: #fff;
    padding: 20px;
}

.currentMain > .currentMainContainer > .currentMainProjectCreates > h1 {
    font-weight: normal;
    padding: 20px 0px 0px 50px;
    font-size: 30px;
}

.currentMain > .currentMainContainer > .currentMainProjectCreates > ul {
    display: block;
    width: 1300px;
    margin: auto;
}

.currentMain > .currentMainContainer > .currentMainProjectCreates > ul > li:first-child {
    cursor: pointer;
}

.currentMain > .currentMainContainer > .currentMainProjectCreates > ul > li {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.currentMain > .currentMainContainer > .currentMainProjectCreates > ul > li:first-child > a > .projectCard {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    flex-direction: column;
    font-size: 25px;
    background-color: #fff;
    border: 1px solid #dee3eb;
    width: 300px;
    height: 300px;
    text-align: center;
    color: #000;
}

.currentMain > .currentMainContainer > .currentMainProjectCreates > ul > li > .projectCard {
    display: flex;
    line-height: 40px;
    flex-direction: column;
    font-size: 25px;
    background-color: #fff;
    border: 1px solid #dee3eb;
    width: 300px;
    height: 300px;
    text-align: center;
}

.currentMain > .currentMainContainer > .currentMainProjectCreates > ul > li > .projectCard > .projectCardTitle {
    background-color: #746fcc;
    width: 300px;
    height: 180px;
    line-height: 180px;
    color: #fff;
    font-size: 22px;
    position: relative;
    cursor: pointer;
}

.currentMain > .currentMainContainer > .currentMainProjectCreates > ul > li > .projectCard > .projectCardTitle > a {color:#fff;}


.currentMain > .currentMainContainer > .currentMainProjectCreates > ul > li > .projectCard > .projectCardTitle > i.icon-star {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.currentMain > .currentMainContainer > .currentMainProjectCreates > ul > li > .projectCard > .projectCardTitle > i.icon-star:hover {
    color: yellow;
    font-weight: bold;
}

.currentMain > .currentMainContainer > .currentMainProjectCreates > ul > li > .projectCard > .projectCardTitle > a > i.icon-settings {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.currentMain > .currentMainContainer > .currentMainProjectCreates > ul > li > .projectCard > .projectCardTitle > a > i.icon-settings:hover {
    color: white;
    font-weight: bold;
}

.currentMain > .currentMainContainer > .currentMainProjectCreates > ul > li > .projectCard > .projectCardUserName {
    font-size: 22px;
    line-height: 30px;
}

.currentMain > .currentMainContainer > .currentMainProjectCreates > ul > li > .projectCard > .projectCardUserName > img {
    margin-top: 25px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

/* settings layer popup */
.white_content {
	position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0, 0, 0, 0.8);opacity:0;
	-webkit-transition: opacity 400ms ease-in;-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;pointer-events:none;z-index:4;
}
.white_content:target{opacity:1;pointer-events:auto;}
.white_content > div {
	position:absolute;top:50%;left:50%;margin-top:-300px;margin-left:-300px;
	width:600px;height:600px;border:1px solid #dee3eb;border-radius:10px;
	background-color:white;overflow:hidden;
}
.white_content > div > .mainCloseBtns {
	float:right;display:block;color:#000;width:30px;height:30px;overflow:hidden;
	background-image:url("../images/xButtonClose.png");background-repeat:no-repeat;background-size:cover;
}
.white_content > div > .mainCloseBtns > i{font-size:20px;}

.btnField{line-height:40px;margin-top:60px;}
.btnField > h2{color:#000;font-size:20px;}
.btnField > h2 > span{color:#f00;}
.projectUpdateSettings{border:none;cursor:pointer;width:100%;height:30px;background-color:#746fcc;color:#fff;font-size:20px;outline:none;}
.projectDeleteSettings{border:none;cursor:pointer;width:100%;height:30px;background-color:#746fcc;color:#fff;font-size:20px;outline:none;}

/* 프로젝트 수정 및 삭제 */
.projectUDTitle {
	width:100%;height:50px;background-color:#eee;border-radius:10px 10px 0px 0px;
	line-height:50px;
}
.projectUDTitle > h2{display:block;float:left;color:#000;font-size:20px;text-indent:20px;}
.projectUDTitle > a{display:block;float:right;margin-top:3px;}
.projectUDTitle > a > i{color:#000;margin-right:20px;}
.projectUDContent{width:100%;line-height:20px;padding:20px;}
.projectUDContent > span {
	display:block;width:100%;color:#000;text-align:left;
}
.projectUDContent > .projectSpan{margin-top:20px;}
.projectUDTitleInput{width:100%;height:30px;font-size:20px;margin-top:10px;outline:none;}
.projectStartEndDivp{line-height:20px;}
.projectStartEndDivp > span{color:#000;text-indent:20px;}
.projectStartEndDivp{margin-top:20px;}
.projectStartp{float:left;padding-top:3px;}
.projectStartInputp{float:left;font-size:20px;margin-left:15px;}
.projectEndp{clear:left;float:left;padding-top:3px;margin-top:15px;}
.projectEndInputp{float:left;font-size:20px;margin-left:15px;margin-top:15px;}


/* 쪽지 기능 */
.facingContainer {
	width:1200px;background-color:#fff;border:1px solid #dee3eb;
	margin:0 auto;margin-top:10px;
}
.facingTitle {
	width:1200px;height:70px;background-color:#fff;border:1px solid #dee3eb;
	margin:0 auto;margin-top:20px;
}
.facingTitle > h2{line-height:70px;margin-left:20px;}
.facingTitle > h2 > i{vertical-align:middle;margin-right:10px;}

/* 쪽지보내기 */
.facingSend{width:100%;}
.facingSendTitle{width:100%;height:50px;}
.facingSendTitle > span{font-size:20px;}
.recipient{width:300px;height:30px;font-size:20px;outline:none;margin-top:10px;}
.recipientSelect{width:300px;height:30px;outline:none;font-size:20px;}
.facingContent{width:100%;height:100px;font-size:20px;outline:none;padding:10px;}
.facingFile{width:100%;height:30px;margin-top:20px;}
.facingFile > span{font-size:20px;}
.facingFileList{width:100%;margin-top:10px;}
.facingFileList > ul > li {margin-left:20px;}
.facingBtn{width:100%;height:100px;display:flex;justify-content:center;align-items:center;}
.facingBtn > .facingSendBtn{border:none;width:100px;height:40px;background-color:#007fff;color:#fff;font-size:20px;cursor:pointer;}
.facingBtn > .facingSendReset{border:none;width:100px;height:40px;background-color:#fff;border:1px solid #007fff;margin-left:20px;font-size:20px;cursor:pointer;}

/* 받은 쪽지 */
.receivedNoteContainer{width:100%;}
.receivedNoteContainer > form > table{width:100%;border-collapse:collapse;}
.receivedNoteContainer > form > table > thead > tr > th > input[type="checkbox"]{width:20px;height:20px;}
.receivedNoteContainer > form > table > tbody > tr > td > input[type="checkbox"]{width:20px;height:20px;}
.receivedNoteContainer > form > table > thead > tr{border-top:3px solid #333;border-bottom:1px solid #333;}
.receivedNoteContainer > form > table > thead > tr > th{padding:10px 0px 10px 0px;font-size:20px;}
.receivedNoteContainer > form > table > tbody > tr > td{padding:10px 0px 10px 0px;font-size:20px;text-align:center;border-bottom:1px solid #333;}
.receivePaging{width:100%;text-align:center;margin-top:20px;}
.receivePaging > li{display:inline-block;padding:0px 10px 0px 10px;font-size:18px;cursor:pointer;}
.white_content2 {
	position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0, 0, 0, 0.8);opacity:0;
	-webkit-transition: opacity 400ms ease-in;-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;pointer-events:none;z-index:4;text-align:left;
}
.white_content2:target{opacity:1;pointer-events:auto;}
.white_content2 > div {
	position:absolute;top:50%;left:50%;margin-top:-250px;margin-left:-350px;
	width:700px;height:500px;padding:20px;border:1px solid #dee3eb;
	background-color:white;overflow:auto;
}
.white_content2 > div > a {
	float:right;display:block;color:#000;width:30px;height:30px;
}
.white_content2 > div > a > i{font-size:30px;}

/* 보낸 쪽지 */
.sentNoteContainer{width:100%;}
.sentNoteContainer > form > table{width:100%;border-collapse:collapse;}
.sentNoteContainer > form > table > thead > tr > th > input[type="checkbox"]{width:20px;height:20px;}
.sentNoteContainer > form > table > tbody > tr > td > input[type="checkbox"]{width:20px;height:20px;}
.sentNoteContainer > form > table > thead > tr{border-top:3px solid #333;border-bottom:1px solid #333;}
.sentNoteContainer > form > table > thead > tr > th{padding:10px 0px 10px 0px;font-size:20px;}
.sentNoteContainer > form > table > tbody > tr > td{padding:10px 0px 10px 0px;font-size:20px;text-align:center;border-bottom:1px solid #333;}

.recipientFacing{width:100%;}
.recipientFacing > span{font-size:20px;}
.recipientFacing > input[type="text"]{width:300px;height:30px;font-size:20px;margin-left:20px;outline:none;}

.pagination2{width:100%;text-align:center;margin-top:20px;}
.pagination2 > li{display:inline-block;padding:0px 10px 0px 10px;font-size:18px;cursor:pointer;}
.sendDate{width:100%;}
.sendDate > .icon-ban{margin-left:30px;cursor:pointer;}
.sendDate > .icon-energy{margin-left:15px;cursor:pointer;}
.sendDate > span{font-size:20px;margin-top:10px;cursor:pointer;}
.sendDate > input[type="text"]{width:300px;height:30px;font-size:20px;margin-left:20px;outline:none;margin-top:10px;}
.sentNoteTextArea{width:100%;height:280px;outline:none;padding:10px;font-size:20px;margin-top:20px;}
.facingDeleteBtnDiv{width:100%;display:flex;justify-content:center;align-items:center;}
.facingReplyBtn{border:none;width:100px;height:40px;background-color:#007fff;color:#fff;font-size:20px;margin-top:20px;cursor:pointer;}
.facingDeleteBtn{border:none;width:100px;height:40px;background-color:#fff;color:#000;font-size:20px;margin-top:20px;cursor:pointer;margin-left:20px;border:1px solid #007fff;}
.white_content1 {
	position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0, 0, 0, 0.8);opacity:0;
	-webkit-transition: opacity 400ms ease-in;-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;pointer-events:none;z-index:4;text-align:left;
}
.white_content1:target{opacity:1;pointer-events:auto;}
.white_content1 > div {
	position:absolute;top:50%;left:50%;margin-top:-250px;margin-left:-250px;
	width:500px;height:500px;padding:20px;border:1px solid #dee3eb;
	background-color:white;overflow:auto;
}
.white_content1 > div > a {
	float:right;display:block;color:#000;width:30px;height:30px;
}
.white_content1 > div > a > i{font-size:30px;}
.sentNoteDeleteBtn{border:none;width:100px;height:40px;background-color:#007fff;color:#fff;font-size:20px;margin-top:20px;cursor:pointer;}
.sentNoteDeleteBtns{border:none;width:100px;height:40px;background-color:#007fff;color:#fff;font-size:20px;margin-top:20px;cursor:pointer;margin-left:20px;}
.sentNoteCloseBtn{border:none;width:100px;height:40px;background-color:#007fff;color:#fff !important; font-size:20px;margin-top:20px;cursor:pointer;margin-lefT:20px;line-height:40px;text-align:center;}



/* 휴지통 */
.trashCanContainer{width:100%;}
.trashCanContainer > form > table{width:100%;border-collapse:collapse;}
.trashCanContainer > form > table > thead > tr > th > input[type="checkbox"]{width:20px;height:20px;}
.trashCanContainer > form > table > tbody > tr > td > input[type="checkbox"]{width:20px;height:20px;}
.trashCanContainer > form > table > thead > tr{border-top:3px solid #333;border-bottom:1px solid #333;}
.trashCanContainer > form > table > thead > tr > th{padding:10px 0px 10px 0px;font-size:20px;}
.trashCanContainer > form > table > tbody > tr > td{padding:10px 0px 10px 0px;font-size:20px;text-align:center;border-bottom:1px solid #333;}
.recoveryBtn{border:none;width:100px;height:40px;background-color:#007fff;color:#fff;font-size:20px;margin-top:20px;cursor:pointer;font-size:20px;}

/* FOOTER */
.currentFooter {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-top: 1px solid #dee3eb;
    clear: left;
}

.footerContent {
    width: 1400px;
    margin: 0 auto;
}

.footerContent > p {
    font-size: 18px;
    text-align: left;
    padding: 20px;
    line-height: 30px;
}

.footerContent > p > span {
    font-weight: bold;
}
