/* SECTION */
.currentMain > .currentMainContainer > .currentMainContainerLeft{width:900px;float:left;margin-top:10px;margin-bottom:10px;overflow:hidden;}
.currentMain > .currentMainContainer > .currentMainContainerRight{margin-left:10px;width:380px;float:left;margin-top:10px;}
.currentSubMainTitle{width:487px;height:70px;background-color:#fff;border:1px solid #dee3eb;font-size:25px;line-height:70px;position:fixed;;float:left;}
.currentSubMainTitle > i.icon-star{vertical-align:middle;margin-left:30px;}
.currentSubMainTitle > span{vertical-align:middle;margin-left:15px;}
.currentSubMainTitle > i.icon-share{vertical-align:middle;margin-left:30px;position:absolute;top:22px;right:30px;cursor:pointer;}
iframe{border: 1px solid #dee3eb; width:100%; height:100%}
.projectTeamsTop{position:fixed;width:486px;height:504px;background-color:#fff;border:1px solid #dee3eb;top:150px;}
.projectTeams{position:fixed;width:487px;overflow-y:scroll;background-color:#fff;border:1px solid #dee3eb;top:664px;}
.projectTeams > h2{font-weight:normal;line-height:70px;margin-left:20px;cursor:pointer;}
.projectTeams > h2 > i{display:block;float:right;line-height:70px;margin-right:10px;}
.projectTeams > ul{display:none;width:100%;height:132px;}
.projectTeams > ul > li{padding:10px 0px 10px 0px;}
.projectTeams > ul > li:first-child{border-bottom:1px solid #dee3eb;padding-bottom:10px;}
.projectTeams > ul > li > .projectPositionName{margin-left:20px;font-size:18px;}
.projectTeams > ul > li > .chatList{ width:100%;height:50px;padding-left:20px;margin-top:10px;}
.projectTeams > ul > li > .chatList > img{
    width: 50px;
    height: 50px;
    background-color:#fff;
    border-radius:100%;vertical-align:middle;}
.projectTeams > ul > li > .chatList > .projectUserNameList{vertical-align:middle;padding-left:15px;font-size:18px;}
.projectList{width:100%;background-color:#fff;border:1px solid #dee3eb;margin-top:10px;overflow:hidden;}
.projectList > .projectListTitles{margin:20px 0px 0px 20px;font-size:20px;}
.projectList > .projectListTitles > i{vertical-align:middle;margin-right:10px;}
.projectList > .projectListTitles > span{vertical-align:middle;}
.projectList > .charts{padding:20px;width:100%;}
.projectList > .charts > .chartsNumber{font-size:20px;margin-bottom:20px;margin-left:90px;}
.projectList > .charts > .chartsNumber > ul{margin-top:25px;}
.projectList > .charts > .chartsNumber > ul > li{padding:10px;margin-left:10px;float:left;cursor:pointer;}
.projectList > .charts > .chartsNumber > ul > li > i{vertical-align:middle;}
.projectList > .charts > .chartsNumber > ul > li > span{vertical-align:middle;}
.projectList > .charts > .chartsNumber > ul > li:first-child{color:rgba(255, 99, 132, 1);}
.projectList > .charts > .chartsNumber > ul > li:nth-child(2){color:rgba(54, 162, 235, 1);}
.projectList > .charts > .chartsNumber > ul > li:nth-child(3){color:rgba(255, 206, 86, 1);}
.projectList > .charts > .chartsNumber > ul > li:nth-child(4){color:rgba(75, 192, 192, 1);}
.projectList > .charts > .chartsNumber > ul > li:last-child{color:rgba(153, 102, 255, 1);margin-bottom:30px;}

/*회의목록 찬우20181226*/
.meetList{width:900px;background-color:#fff;border:1px solid #dee3eb;float:left;margin-top:10px;}
.meetList > .meetListTitles{margin:20px 0px 0px 20px;font-size:20px;}
.meetList > .meetListTitles > i{vertical-align:middle;margin-right:10px;}
.meetList > .meetListTitles > span{vertical-align:middle;}
.meetList > .meets{width:830px; margin:20px;}
.table {
   width:100%;
   border: 1px solid #eceeef;
   border-collapse: collapse;
 }
.table th, 
.table td {
   border: 1px solid #eceeef;
   padding: 0.3rem;
 }
.table tr:hover{
    background-color: #a6dfe9;
}

.projectTaskContainer{width:100%;background-color:#fff;border:1px solid #dee3eb;float:left;margin-top:10px;height:70px;}
.projectTaskContainer > .projectTaskContainerTitle{margin:20px 0px 0px 20px;font-weight:normal;font-size:20px;}
.projectTaskContainer > .projectTaskContainerTitle > i{vertical-align:middle;display:block;float:left;margin-right:10px;}
.projectTaskContainer > .projectTaskContainerTitle > span{display:block;margin-left:10px;vertical-align:middle;float:left;}

.projectTaskContainerDragDrop{width:100%;height:100%;background-color:transparent;float:left;margin-top:10px;}
.projectTaskDragDrop{clear:left;}
#titleList{width:798px;height:45px;line-height:45px;font-size:20px;}
#titleList > li{float:left;}
.titleBox{width:159.5px;float:left;text-align:center;background-color:#fff;border:1px solid #dee3eb;}
#planList > .column{width:159.5px;float:left;border:1px solid #dee3eb;background-color:#fff;margin-top:5px;padding:0px 0px 5px 0px;}
#planList > .column:first-child{margin-left:1px;}
#planList > .column:nth-child(2){margin-left:10px;}
#planList > .column:nth-child(3){margin-left:10px;}
#planList > .column:nth-child(4){margin-left:10px;}
#planList > .column:last-child{margin-left:10px;}
.portlet-placeholder{border:1px dotted black;height:150px;}
.portlet-header{width:100%;height:50px;font-size:20px;text-indent:10px;line-height:50px;cursor:pointer;}
.portlet-content{width:100%;font-size:17px;padding:10px;background-color:#eee;word-break:break-all;border:1px solid #ccc;}
.projectWriter{width:900px;background-color:#fff;border:1px solid #dee3eb;float:left;margin-top:10px;}

/* 서브메인 전체 탭 메뉴 */
#subMainTabMenu{width:900px;}
.subMaintab{overflow:hidden;width:100%;background-color:#fff;border:1px solid #dee3eb;}
.subMaintab li {
	display:inline-block;width:105px;height:40px;text-align:center;line-height:40px;
	background-color:#fff;color:#000;
}
.subMaintab li a {
	display:inline-block;color:#000;text-align:center;font-size:17px;
	transition:0.3s;
}
.tabcontent {display:none;background-color:transparent;}
ul.subMaintab li.current{background-color:#007fff;}
ul.subMaintab li.current > a{color:#fff;}
.tabcontent.current{display:block;}

/* 업무 TAB */
.workContainerInput{width:100%;padding:20px;}
.workContainerInput > .workTitle{width:100%;height:30px;font-size:20px;outline:none;}
.workDateDiv{width:100%;margin-top:10px;}
.workDateDiv > i{font-size:20px;vertical-align:middle;padding:0px 10px 0px 10px;}
.workDateDiv > .work_sdate{vertical-align:middle;font-size:20px;outline:none;width:306.5px;}
.workDateDiv > .work_eedate{vetical-align:middle;font-size:20px;outline:none;width:306.5px;}
.workTextarea{width:100%;height:100px;outline:none;padding:10px;font-size:20px;margin-top:10px;}
.workTypeDiv{width:100%;height:50px;vertical-align:middle;border-top:1px solid #dee3eb;margin-top:20px;}
.workTypeDiv > h3{display:block;margin-top:15px;font-size:20px;}
.workType1, .workType2, .workType3{float:left;width:20px;height:20px;vertical-align:middle;margin-top:5px;}
.workTypeDiv > span{display:block;font-size:20px;margin-top:5px;float:left;padding:0px 10px 0px 10px;} 
.workImportance{clear:both;width:100%;height:90px;border-top:1px solid #dee3eb;margin-top:30px;border-bottom:1px solid #dee3eb;}
.workImportance > h3{display:block;padding-top:10px;font-size:20px;}
.workImportance > select{outline:none;width:300px;height:30px;font-size:20px;margin-top:10px;}
.workVisibility{width:100%;margin-top:10px;height:65px;border-bottom:1px solid #dee3eb;}
.workVisibilityCheck{margin-top:5px;width:25px;height:25px;vertical-align:middle;float:left;}
.workVisibility > h3{font-size:20px;}
.workVisibility > span{display:block;font-size:20px;vertical-align:middle;margin-top:5px;float:left;margin-left:5px;}
.workSubmit{width:100%;height:70px;float:right;}
.workSubmit > .tabssTextAreaSubmit{font-size:20px;}

.tabssTextArea{width:100%;height:100%;outline:none;text-indent:10px;font-size:20px;border:none;}
.tabssTextAreaSubmit {
    float:right;width:100px;height:40px;font-size:18px;background-color:#fff;border:1px solid #dee3eb;outline:none;cursor:pointer;
    margin:10px 0px 10px 0px;border-radius:5px;transition:0.5s;font-weight:normal;line-height:40px;
}
.tabssTextAreaSubmit:hover{background-color:#007fff;color:#fff;line-height:40px;border:1px solid #003eff;}
.calendarTitle{width:100%;outline:none;font-size:20px;text-indent:10px;padding:5px 0px 5px 0px;margin-top:5px;}
.calendarMemo{width:100%;outline:none;font-size:20px;text-indent:10px;padding:5px 0px 5px 0px;margin-top:5px;}
.calendarContainerInput{width:530px;padding:0px 0px 5px 0px;}
.calendarInputDiv{margin-top:5px;float:left;}
.calendarInputDiv > i{vertical-align:middle;font-size:20px;}
.calendarInputDiv > input[type=date]{vertical-align:middle;font-size:20px;}
.calendarInputDivSpan{float:left;font-size:30px;padding-top:5px;margin-left:20px;}
.calendarInputDivs{margin-top:5px;float:left;}
.calendarInputDivs > i{vertical-align:middle;font-size:20px;margin-left:20px;}
.calendarInputDivs > input[type=date]{vertical-align:middle;font-size:20px;}
.todoInput{width:100%;outline:none;font-size:20px;text-indent:10px;padding:5px 0px 5px 0px;margin-top:5px;}
.todoInputContent{width:100%;outline:none;font-size:20px;text-indent:10px;padding:5px 0px 5px 0px;margin-top:5px;}
.todoPlus{margin:10px 0px 0px 0px;height:25px;}
.todoPlus > i{font-size:20px;vertical-align:middle;float:left;cursor:pointer;}
.todoPlus > span{display:block;font-size:20px;vertical-align:middle;margin-left:5px;float:left;cursor:pointer;}

.currentCardList{width:900px;background-color:#fff;border:1px solid #dee3eb;float:left;margin-top:10px;}
.currentCardList > h2{padding:20px 20px 20px 35px;border-bottom:1px solid #dee3eb;}
.currentCardList > h2 > i{vertical-align:middle;margin-right:10px;}
.cardUserInfo{padding:10px;width:100%;height:70px;margin-top:10px;}
.cardUserInfoImg{float:left;height:50px;padding-top:5px;padding-left:20px;}
.cardUserInfoImg > img{
    width: 40px;
    height: 40px;
    background-color:#fff;
    border-radius:100%;}
.cardUserInfoName{height:50px;float:left;padding-left:15px;padding-top:3px;}
.cardUserInfoName > b{font-size:20px;}
.cardUserInfoName > span{font-size:18px;color:#333;}
.updateDeleteIcon{float:right;width:100px;height:50px;margin-right:20px;text-align:center;padding-top:10px;}
.updateDeleteIcon > i{font-size:25px;cursor:pointer;float:right;}
.updateDeleteIcon > .icon-bulb{margin-right:10px;}
.updateDeleteIcon > a > i{font-size:25px;cursor:pointer;float:right;color:#000;margin-right:10px;}
.currentCardContentView{width:100%;height:500px;}
.currentCardContentViewLeft{float:left;width:50%;height:100%;padding:20px;}
.currentCardContentViewLeft > textarea{outline:none;width:100%;height:90%;margin-top:10px;border:none;font-size:20px;margin-left:20px;line-height:30px;}
.currentCardContentViewRight{float:left;width:50%;height:100%;padding:20px;}
.currentCardContentViewRight > table{border-collapse:collapse;width:100%;text-align:center;}
.currentCardContentViewRight > table > thead > tr{border-top:2px solid #333;border-bottom:1px solid #333;}
.currentCardContentViewRight > table > thead > tr > th{padding:10px 0px 10px 0px;font-size:17px;}
.currentCardContentViewRight > table > thead > tr > th > input[type="checkbox"]{width:20px;height:20px;}
.currentCardContentViewRight > table > tbody > tr{border-bottom:1px solid #333;}
.currentCardContentViewRight > table > tbody > tr > td{padding: 5px 0px 5px 0px;font-size:17px;}
.currentCardContentViewRight > table > tbody > tr > td > input[type="checkbox"]{width:20px;height:20px;}
.currentCardContentViewRight > .pagination{width:100%;height:20px;text-align:center;margin-top:20px;}
.currentCardContentViewRight > .pagination > ul > li{padding:0px 10px 0px 10px;display:inline-block;cursor:pointer;}
.currentCardContentViewRight > .pagination > ul > li > i{vertical-align:middle;}
.currentCardContentViewRight > .pagination > ul > li > span{vertical-align:middle;}
.currentCardContentBottomView{width:100%;border-top:1px solid #dee3eb;border-bottom:1px solid #dee3eb;}

.cardContentBottom{width:100%;height:60px;padding:20px;border-top:1px solid #dee3eb;font-size:20px;}
.cardContentBottom > i{cursor:pointer;}
.cardContentBottom > span{cursor:pointer;vertical-align:middle;}
.cardContentBottom > i.icon-bubble{margin-left:20px;vertical-align:middle;}
.cardContentBottom > i.icon-bulb{margin-left:25px;vertical-align:middle;}

/* 댓글 */
.cardContentComment{width:100%;min-height:auto;background-color:#f6f7f8;border-top:1px solid #dee3eb;padding-bottom:20px;}
#commentListNewDiv{padding-bottom:20px;}
.cardContentCommentUser{width:100%;height:70px;padding:20px;}
.cardContentCommentUser > .cardContentCommentUserImg{float:left;margin-left:20px;}
.cardContentCommentUser > .cardContentCommentUserImg > img {
    width: 40px;
    height: 40px;
    background-color:#fff;
    border-radius:100%;}
.cardContentCommentUser > .cardContentCommentUserName{float:left;padding-top:1px;margin-left:15px;font-size:20px;}
.cardContentCommentUser > .cardContentCommentUserName > .times{margin-left:15px;color:#333;font-size:18px;}
.commentInput {
    width:700px;outline:none;font-size:20px;text-indent:10px;padding:5px 0px 5px 0px;margin-top:2px;
    border:1px solid #dee3eb;
}
.cardContentCommentUserName > i{
	cursor:pointer;margin-left:20px;font-size:30px;margin-top:5px;display:block;float:right;
}
.commentUpdateBtn{border:none;background:none;font-size:17px;margin-left:20px;cursor:pointer;outline:none;}
.commentDeleteBtn{border:none;background:none;font-size:17px;margin-left:10px;cursor:pointer;outline:none;}

/* 이슈 상세조회 팝업 */
.white_content3 {
	position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0, 0, 0, 0.8);opacity:0;
	-webkit-transition: opacity 400ms ease-in;-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;pointer-events:none;z-index:4;
}
.white_content3:target{opacity:1;pointer-events:auto;}
.white_content3 > div {
	position:absolute;top:50%;left:50%;margin-top:-400px;margin-left:-500px;
	width:1000px;height:800px;padding:20px;border:1px solid #dee3eb;
	background-color:white;overflow:hidden;
}
.white_content3 > div > .mainCloseBtns {
	float:right;display:block;color:#000;width:30px;height:30px;overflow:hidden;
	background-image:url("../images/xButtonClose.png");background-repeat:no-repeat;background-size:cover;
}
.white_content3 > div > .mainCloseBtns > i{font-size:20px;}

.issueSelectPage{width:100%;overflow:hidden;clear:both;height:95%;padding-top:20px;}
.issueSelectPageLeft{float:left;width:566px;}
.issueSelectPageLeft > form > textarea{width:100%;font-size:20px;height:300px;outline:none;padding:20px;margin-top:10px;}
.issueSelectPageRight{float:left;width:376px;margin-left:10px;}
.issueSelectPageRight > h2{text-align:left;padding:15px;float:left;}
.issueSelectPageRight > form > textarea{width:100%;font-size:20px;height:630px;outline:none;padding:20px;}
.issueCreateBtn {
	width:90px;height:40px;background-color:#4286f4;color:#fff;border:none;font-size:17px;
	cursor:pointer;outline:none;margin-top:10px;float:right;
}
.insueUpdateBtn {
	width:90px;height:40px;background-color:#4286f4;color:#fff;border:none;font-size:17px;
	cursor:pointer;outline:none;margin-top:10px;float:right;margin-right:10px;
}
.issueProfile{width:150px;float:left;height:150px;}
.issueProfile > img{width:150px;height:150px;border-radius:100%;margin-top:25px;}
.issues{float:left;width:405px;height:200px;}
.issues > .issuesLeft{float:left;margin-top:10px;margin-left:10px;}
.issues > .issuesRight{float:left;margin-left:20px;margin-top:10px;width:300px;}
.issues > .issuesLeft > ul > li{text-align:left;padding:10px 0px 10px 0px;font-size:20px;}
.issues > .issuesRight > ul > li{text-align:left;padding:10px 0px 10px 0px;font-size:20px;}
.issues > .issuesRight > ul > li > input[type="text"] {
	border:none;border-bottom:1px solid #333;outline:none;font-size:20px;width:270px;
}

/* 이슈 등록 팝업 */
.white_contents {
	position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0, 0, 0, 0.8);opacity:0;
	-webkit-transition: opacity 400ms ease-in;-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;pointer-events:none;z-index:4;
}
.white_contents:target{opacity:1;pointer-events:auto;}
.white_contents > div {
	position:absolute;top:50%;left:50%;margin-top:-230px;margin-left:-500px;
	width:1000px;height:460px;padding:20px;border:1px solid #dee3eb;
	background-color:white;overflow:auto;
}
.white_contents > div > a {
	float:right;display:block;color:#000;width:30px;height:30px;
}
.white_contents > div > a > i{font-size:30px;}
.issueCreateInputField{width:100%;height:300px;margin-top:50px;}
.issueCreateInputFieldLeftContainer{float:left;width:570px;height:300px;}
.issueCreateInputFieldRightContainer {
	float:left;width:350px;height:300px;margin-left:10px;
}
.issueCreateInputFieldRightContainer > table{width:100%;border-collapse:collapse;margin-top:20px;}
.issueCreateInputFieldRightContainer > table > thead > tr {
	border-top:2px solid #333;border-bottom:1px solid #333;
}
.issueCreateInputFieldRightContainer > table > thead > tr > th {
	text-align:center;
	padding:10px 0px 10px 0px;font-size:17px;
}
.issueCreateInputFieldRightContainer > table > tbody > tr{border-bottom:1px solid #333;}
.issueCreateInputFieldRightContainer > table > tbody > tr > td {
	padding:10px 0px 10px 0px;font-size:17px;
}
.pagings{width:100%;text-align:center;}
.pagings > li{display:inline-block;font-size:20px;margin-top:20px;padding:0px 10px 0px 10px;}


.issueCreateInputFieldLeft{float:left;width:90px;}
.issueCreateInputFieldLeft > ul > li{font-size:20px;padding:10px 0px 10px 0px;}
.issueCreateInputFieldLeft > ul > li:nth-child(3){padding-top:100px;}
.issueCreateInputFieldRight{float:left;width:450px;}
.issueCreateInputFieldRight > form > ul > li {
	font-size:20px;padding:10px 0px 10px 0px;text-align:left;
}
.issueCreateInputFieldRight > form > ul > li > input[type="text"] {
	border:none;border-bottom:1px solid #333;width:450px;font-size:20px;outline:none;
}
.issueCreateInputFieldRight > form > ul > li > textarea {
	width:450px;height:100px;font-size:20px;outline:none;padding:10px;
}
.issueCreateInputFieldRight > form > ul > li > input[type="datetime-local"] {
	border:none;border-bottom:1px solid #333;width:450px;font-size:20px;outline:none;
}
.btnPopupCenter {
	display:flex;justify-content:center;align-items:center;
	width:100%;height:50px;margin-top:10px;
}
.issueInfoCreate {
	width:90px;height:40px;border:none;outline:none;background-color:#4286f4;
	font-size:20px;color:#fff;cursor:pointer;
}
.issueInfoClose {
	display:block !important;
	width:90px !important;
	height:40px !important;
	color:#fff !important;
	border:none;outline:none;background-color:#4286f4;font-size:20px;
	line-height:40px;margin-left:20px;
}

/* 업무 카드 수정 및 삭제 2019-01-03 임규승 */
.white_content_card {
	position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0, 0, 0, 0.8);opacity:0;
	-webkit-transition: opacity 400ms ease-in;-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;pointer-events:none;z-index:4;
}
.white_content_card:target{opacity:1;pointer-events:auto;}
.white_content_card > div {
	position:absolute;top:50%;left:50%;margin-top:-230px;margin-left:-500px;
	width:1000px;height:460px;padding:20px;border:1px solid #dee3eb;
	background-color:white;overflow:auto;
}
.white_content_card > div > a {
	float:right;display:block;color:#000;width:30px;height:30px;
}
.white_content_card > div > a > i{font-size:30px;}
.cardCreateInputField{width:100%;height:300px;margin-top:50px;}
.btnPopupCenterCardUpdate {
	display:flex;justify-content:center;align-items:center;
	width:100%;height:50px;margin-top:10px;
}
.cardInfoUpdate {
	width:90px;height:40px;border:none;outline:none;background-color:#4286f4;
	font-size:20px;color:#fff;cursor:pointer;
}
.cardInfoDelete {
	width:90px;height:40px;border:none;outline:none;background-color:#4286f4;
	font-size:20px;color:#fff;cursor:pointer;
}

/* 일정 카드 */
.mapCardList {
	width:900px;height:500px;background-color:#fff;border:1px solid #dee3eb;float:left;
	margin-top:10px;
}
.mapCardListTitle{width:100%;height:50px;border-bottom:1px solid #dee3eb;}
.mapCardListTitle > h2{line-height:50px;text-indent:20px;}
.mapCardListTitle > h2 > i{vertical-align:middle;margin-right:10px;}

/* 드래그 */
.kku-boarderUl {
	border: 0.5px solid indianred;
	text-align: center;
	width: 100%;
	height: 150px;
}
.columnCard{width:180px;float:left;padding:10px 0px 30px 0px;}
.portlet{margin:0px;padding:0px;width:100%;position:relative;}
.portlet-header {
	width:100%;position:relative;border:1px solid #dee3eb;text-overflow:ellipsis;
	overflow:hidden;white-space:nowrap;
}
.portlet-toggle {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
}
.portlet-placeholder{border:1px dotted black;height:50px;}
#planList{width:898px;}
#titleList {
	list-style: none;
	width: 100%;
	height: 50px;
	margin: 0 auto;
}

.titleBox {
	width: 180px;
	float: left;
}
.portletHover{display:none;}
.portletHovers{display:none;}
.portlet:hover > .portletHover {
	padding:20px;font-size:20px;
	display:block;width:300px;height:300px;background-color:#fff;border:1px solid #dee3eb;
	position:absolute;top:50px;left:50px;border-radius:10px;box-shadow:1px 1px 5px #000;
	z-index:3;word-break:break-all;
}
.portlet:hover > .portletHovers {
	padding:20px;font-size:20px;
	display:block;width:300px;height:300px;background-color:#fff;border:1px solid #dee3eb;
	position:absolute;top:50px;right:100px;border-radius:10px;box-shadow:1px 1px 5px #000;
	z-index:3;word-break:break-all;
}

/* 전체 참여자 */
.projectTeams > ul > li{position:relative;}
.projectTeams > ul > li > .projectTeamHover{display:none;}
.projectTeams > ul > li:hover > .projectTeamHover {
	display:block;width:320px;height:50px;background-color:#fff;border:1px solid #dee3eb;
	position:absolute;z-index:5;top:40px;right:10px;box-shadow:0px 0px 1px #000;
	line-height:50px;
}
.projectTeamHover > a > i{font-size:17px;vertical-align:middle;margin-left:5px;cursor:pointer;color:#000;}
.projectTeamHover > a > span{font-size:17px;cursor:pointer;color:#000;letter-spacing:-1px;}


/* FOOTER */
.currentFooter{width:100%;height:100px;background-color:#fff;border-top:1px solid #dee3eb;clear:left;}
.footerContent{width:1400px;margin:0 auto;}
.footerContent > p{font-size:18px;text-align:left;padding:20px;line-height:30px;}
.footerContent > p > span{font-weight:bold;}