/* COMMON */
*{margin:0px;padding:0px;font-family:'NanumSquare', sans-serif;box-sizing:border-box;}
a{text-decoration:none;color:#000;}
html, body{height:100%;overflow-x:hidden;}
ul{list-style-type:none;}
#wrap{width:100%;height:100%;}

/* HEADER */
header{width:100%;min-width:1200px;height:60px;background-color:rgba(255,255,255,0.8);border-bottom:1px solid #ccc;position:fixed;z-index:3;}
.headerContainer{width:1400px;height:60px;margin:0 auto;}
.headerContainer > .currentMenu{width:45px;height:45px;float:left;margin-top:7px;}

/* LEFT MENU BUTTON */
.menu-trigger, .menu-trigger span{display:inline-block;transition:all .4s;box-sizing:border-box;}
.menu-trigger{display:block;position:relative;top:10px;left:5px;width:50px;height:30px;float:left;}
.menu-trigger span{position:absolute;left:0;width:70%;height:4px;background-color:#000;border-radius:4px;}
.menu-trigger span:nth-of-type(1){top:0px;}
.menu-trigger span:nth-of-type(2){top:10px;}
.menu-trigger span:nth-of-type(3){top:20px;}
.menu-trigger.active span:nth-of-type(1) {
    -webkit-transform:translateY(10px) rotate(-45deg);
    transform:translateY(10px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2){opacity:0;}
.menu-trigger.active span:nth-of-type(3) {
    -webkit-transform:translateY(-10px) rotate(45deg);
    transform:translateY(-10px) rotate(45deg);
}

.headerContainer > .currentLogo{width:200px;height:50px;margin-top:7px;float:left;cursor:pointer;margin-left:10px;}
.headerContainer > .currentAllSearch {width:500px;height:50px;margin-top:7px;margin-left:10px;float:left;}
.headerContainer > .currentAllSearch > select {
    width:120px;height:45px;font-size:18px;text-indent:10px;outline:none;float:left;border:1px solid #333;padding-top:5px;cursor:pointer;background:none;
}
.headerContainer > .currentAllSearch > .headerSearchInputText {
    width:300px;height:45px;margin-left:-1px;text-indent:10px;font-size:18px;outline:none;float:left;background:none;
    border:none;border-top:1px solid #333;border-left:1px solid #333;border-bottom:1px solid #333;padding-top:5px;
}
.headerContainer > .currentAllSearch > i {
    font-size:20px;display:block;width:35px;height:45px;line-height:45px;cursor:pointer;float:left;
    border-top:1px solid #333;border-right:1px solid #333;border-bottom:1px solid #333;padding-bottom:5px;
}
.headerContainer > .headerRightContent{width:280px;height:45px;margin-top:5px;float:right;}
.headerContainer > .headerRightContent > a > .teamInvite {
    width:130px;height:40px;border:1px solid #333;border-radius:20px;margin-top:5px;
    display:flex;justify-content:center;align-items:center;float:left;cursor:pointer;
}
.headerContainer > .headerRightContent > a > .teamInvite > i{font-size:18px;}
.headerContainer > .headerRightContent > a > .teamInvite > p{padding-left:10px;font-size:18px;}

/* DIM LAYER POPUP */
.pop-layers .pop-containers{background-color:#fff;border-radius:10px;}
.pop-layers{display:none;position:absolute;top:50%;left:50%;width:600px;height:auto;z-index:10;}
.dim-layers{display:none;position:fixed; _position:absolute;top:0;left:0;width:100%;height:100%;z-index:100;}
.dim-layers .dimBgs{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50);}
.dim-layers .pop-layers{display:block;width:600px;}
.pop-layers .pop-containers > .pop-contss > .pop-conts-headers {
    width:100%;height:50px;background-color:#eee;font-size:20px;border-radius:10px 10px 0px 0px;
}
.pop-layers .pop-containers > .pop-contss > .pop-conts-headers > p{float:left;padding:15px;}
.pop-layers .pop-containers > .pop-contss > .pop-conts-headers > a{float:right;padding:15px;}
.pop-layers .pop-containers > .pop-contss > .pop-conts-sections{width:100%;height:350px;font-size:20px;clear:both;}
.pop-layers .pop-containers > .pop-contss > .pop-conts-sections > .pop-conts-section-titles{width:100%;padding:20px;}
.pop-layers .pop-containers > .pop-contss > .pop-conts-sections > .pop-conts-section-titles > span{margin-left:7px;}
.pop-layers .pop-containers > .pop-contss > .pop-conts-sections > .pop-conts-section-titles > .projectTitleInputs {
    margin-top:7px;font-size:20px;width:100%;outline:none;padding:5px;
}
.projectContentInputs{margin-top:7px;font-size:20px;width:100%;outline:none;padding:5px;}
.layerPopUpBtnsss{width:100%;margin-top:20px;display:flex;justify-content:center;}
.createProjectSubmits {
    font-size:20px;background-color:#746fcc;color:#fff;width:100px;height:50px;border-radius:5px;border:none;outline:none;cursor:pointer;float:left;
}
.layerPopupCloses{display:block;border:1px solid #ccc;width:100px;height:50px;border-radius:5px;float:left;text-align:center;line-height:50px;margin-left:20px;}

.headerContainer > .headerRightContent > .alarm{width:50px;height:50px;float:left;margin-left:10px;display:flex;justify-content:center;align-items:center;}
.headerContainer > .headerRightContent > .alarm > i{font-size:25px;cursor:pointer;}
.headerContainer > .headerRightContent > .alarm > .dialogs > #tabs > ul > li{font-size:20px;}
.headerContainer > .headerRightContent > .alarm > .dialogs > #tabs > #tabs-1 {
    font-size:20px;display:flex;justify-content:center;align-items:center;flex-direction:column;
}
.headerContainer > .headerRightContent > .alarm > .dialogs > #tabs > #tabs-1 > i{font-size:30px;}
.headerContainer > .headerRightContent > .alarm > .dialogs > #tabs > #tabs-1 > p{text-align:center;font-size:20px;margin-top:10px;}
.headerContainer > .headerRightContent > .alarm > .dialogs > #tabs > #tabs-2 {
    font-size:20px;
}
.headerContainer > .headerRightContent > .alarm > .dialogs > #tabs > #tabs-2 > i{font-size:30px;}
.headerContainer > .headerRightContent > .alarm > .dialogs > #tabs > #tabs-2 > p{text-align:center;font-size:20px;margin-top:10px;}
.headerContainer > .headerRightContent > .alarm > .dialogs > #tabs > #tabs-2 > ul > li {
    padding:10px 0px 10px 0px;border-bottom:1px solid #dee3eb;width:100%;vertical-align:middle;cursor:pointer;
}
.headerContainer > .headerRightContent > .alarm > .dialogs > #tabs > #tabs-2 > ul > li > i{vertical-align:middle;}
.headerContainer > .headerRightContent > .alarm > .dialogs > #tabs > #tabs-2 > ul > li > span{vertical-align:middle;}
.headerContainer > .headerRightContent > .currentUser{position:relative;width:70px;height:50px;float:left;display:flex;justify-content:center;align-items:center;}
.headerContainer > .headerRightContent > .currentUser > img{width:40px;height:40px;border-radius:100%;cursor:pointer;}
.headerContainer > .headerRightContent > .currentUser > i{margin-left:5px;color:#333;font-size:14px;cursor:pointer;}
.dialog__trigger, .dialog__action {
    display:block;-webkit-transition:all 150ms ease-out;transition:all 150ms ease-out;-webkit-transform:translateY(0px);
    transform:translateY(0px);
}
.dialog {
    width:300px;background-color:#fff;border:1px solid #dee3eb;border-radius:10px;
    position:absolute;top:0px;right:0px;visibility:hidden;opacity:0;-webkit-transition:all 180ms ease-in;
    transition:all 180ms ease-in;margin-top:20px;box-shadow:0px 0px 5px #000;padding:20px;
}
.dialog.dialog--active{top:40px;visibility:visible;opacity:1;-webkit-transition:all 250ms ease-out;transition:all 250ms ease-out;}
.dialogUserImg{width:100%;text-align:center;border-bottom:1px solid #dee3eb;}
.dialogUserImg > img{border-radius:100%;}
.dialogUserImg > p{font-size:25px;margin-top:10px;padding-bottom:20px;}
.dialog > ul{margin-top:20px;}
.dialog > ul > li{margin:10px 0px 10px 0px;}
.dialog > ul > li > a{font-size:20px;padding-left:10px;}

.dialog__triggers, .dialog__actions {
    display:block;-webkit-transition:all 150ms ease-out;transition:all 150ms ease-out;-webkit-transform:translateY(0px);
    transform:translateY(0px);
}
.dialogs {
    width:500px;background-color:#fff;border:1px solid #dee3eb;border-radius:10px;
    position:absolute;top:0px;right:0px;visibility:hidden;opacity:0;-webkit-transition:all 180ms ease-in;
    transition:all 180ms ease-in;margin-top:20px;box-shadow:0px 0px 5px #000;padding:20px;
}
.dialogs.dialog--actives{top:40px;visibility:visible;opacity:1;-webkit-transition:all 250ms ease-out;transition:all 250ms ease-out;}
.dialogUserImg{width:100%;text-align:center;border-bottom:1px solid #dee3eb;}
.dialogUserImg > img{border-radius:100%;}
.dialogUserImg > p{font-size:25px;margin-top:10px;padding-bottom:20px;}
.dialogs > ul{margin-top:20px;}
.dialogs > ul > li{margin:10px 0px 10px 0px;}
.dialogs > ul > li > a{font-size:20px;padding-left:10px;}

.dialog__triggerss, .dialog__actionss {
    display:block;-webkit-transition:all 150ms ease-out;transition:all 150ms ease-out;-webkit-transform:translateY(0px);
    transform:translateY(0px);
}
.dialogss {
    width:300px;background-color:#fff;border:1px solid #dee3eb;border-radius:10px;
    position:absolute;top:0px;right:0px;visibility:hidden;opacity:0;-webkit-transition:all 180ms ease-in;
    transition:all 180ms ease-in;margin-top:20px;box-shadow:0px 0px 5px #000;padding:20px;
}
.dialogss.dialog--activess{top:40px;visibility:visible;opacity:1;-webkit-transition:all 250ms ease-out;transition:all 250ms ease-out;}
.dialogss > ul > li:first-child{font-weight:bold;padding:10px 0px 10px 0px;font-size:18px;border-bottom:1px solid #dee3eb;margin-bottom:20px;}
.dialogss > ul > li{font-size:18px;line-height:25px;cursor:pointer;}


/* LEFT MENU */
.leftMenuUserInterface {
    width:100%;text-align:center;padding:40px 0px 40px 0px;position:relative;
    background-image:url("../images/leftMenuUserInterfaceImg.gif");background-repeat:no-repeat;background-position:50% 50%;background-size:cover;
}
.leftMenuUserInterface > img{border-radius:100%;box-shadow:0px 0px 20px #fff;position:relative;z-index:2;}
.leftMenuUserInterface > p{font-size:25px;margin-top:20px;color:#fff;z-index:2;position:relative;}
.dimLeftMenuUserInterface{width:100%;height:100%;position:absolute;z-index:1;background-color:rgba(0,0,0,0.5);top:0px;left:0px;}
.cbp-spmenu{position:fixed;}
.cbp-spmenu-vertical{width:250px;height:100%;	top:0;z-index:2;border-right:1px solid #dee3eb;}
.cbp-spmenu-left{left:-250px;}
.cbp-spmenu-left.cbp-spmenu-open{left:0px;}
.cbp-spmenu-push{overflow-x:hidden;	position:relative;left:0;}
.cbp-spmenu-push-toright{left:250px;}
.cbp-spmenu-push-toleft{left:-250px;}
.cbp-spmenu, .cbp-spmenu-push{-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;}

.cbp-spmenu-vertical > .currentMainLeftMenu {
    width:100%;float:left;background-color:#fff;
}
.cbp-spmenu-vertical > .currentMainLeftMenu > .firstMenu > li:last-child{margin-bottom:20px;}
.cbp-spmenu-vertical > .currentMainLeftMenu > .firstMenu{border-top:1px solid #dee3eb;border-bottom:1px solid #dee3eb;}
.cbp-spmenu-vertical > .currentMainLeftMenu > .menuList{border-bottom:1px solid #dee3eb;}
.cbp-spmenu-vertical > .currentMainLeftMenu > .menuList > li:last-child{margin-bottom:20px;}
.cbp-spmenu-vertical > .currentMainLeftMenu > ul > li:first-child{margin-top:20px;}
.cbp-spmenu-vertical > .currentMainLeftMenu > ul > li {
    height:38px;font-size:18px;text-align:left;padding:10px 0px 10px 20px;cursor:pointer;text-indent:10px;clear:both;
}
.cbp-spmenu-vertical > .currentMainLeftMenu > ul > li:hover{background-color:#eee;}
.cbp-spmenu-vertical > .currentMainLeftMenu > ul > li > i{vertical-align:middle;float:left;}
.cbp-spmenu-vertical > .currentMainLeftMenu > ul > li > p{float:left;}

/* SECTION */
.currentMain{width:100%;min-height:100%;height:auto;background-color:#f2f4f7;padding-top:60px;float:left;}
.currentMain > .currentMainContainer{width:1400px;margin:0 auto;position:relative;}
.currentMain > .currentMainContainer > .currentMainContainerLeft{width:1000px;float:left;margin-top:10px;margin-bottom:10px;}
.currentMain > .currentMainContainer > .currentMainContainerRight{margin-left:10px;width:380px;float:left;margin-top:10px;}
.currentSubMainTitle{width:1000px;height:70px;background-color:#fff;border:1px solid #dee3eb;font-size:25px;line-height:70px;position:relative;float:left;}
.currentSubMainTitle > i.icon-star{vertical-align:middle;margin-left:30px;}
.currentSubMainTitle > span{vertical-align:middle;margin-left:15px;}
.currentSubMainTitle > i.icon-share{vertical-align:middle;margin-left:30px;position:absolute;top:22px;right:30px;cursor:pointer;}
.projectTeams{position:fixed;width:387px;height:782px;overflow-y:scroll;background-color:#fff;border:1px solid #dee3eb;}
.projectTeams > h2{font-weight:normal;line-height:70px;margin-left:20px;}
.projectTeams > ul > li{padding:10px 0px 10px 0px;}
.projectTeams > ul > li:first-child{border-bottom:1px solid #dee3eb;padding-bottom:10px;}
.projectTeams > ul > li > .projectPositionName{margin-left:20px;font-size:18px;}
.projectTeams > ul > li > .chatList{width:100%;height:50px;padding-left:20px;margin-top:10px;}
.projectTeams > ul > li > .chatList > img{border-radius:100%;vertical-align:middle;}
.projectTeams > ul > li > .chatList > .projectUserNameList{vertical-align:middle;padding-left:15px;font-size:18px;}
.projectList{width:1000px;background-color:#fff;border:1px solid #dee3eb;float:left;margin-top:10px;}
.projectList > .projectListTitles{margin:20px 0px 0px 20px;font-size:20px;}
.projectList > .projectListTitles > i{vertical-align:middle;}
.projectList > .projectListTitles > span{vertical-align:middle;}
.projectList > .charts{padding:20px;width:100%;}
.projectList > .charts > .chartsContent{float:left;}
.projectList > .charts > .chartsNumber{float:left;font-size:20px;margin-bottom:20px;margin-left:90px;}
.projectList > .charts > .chartsNumber > ul{margin-top:25px;}
.projectList > .charts > .chartsNumber > ul > li{padding:20px;margin-left:10px;float:left;cursor:pointer;}
.projectList > .charts > .chartsNumber > ul > li > i{vertical-align:middle;}
.projectList > .charts > .chartsNumber > ul > li > span{vertical-align:middle;}
.projectList > .charts > .chartsNumber > ul > li:first-child{color:rgba(255, 99, 132, 1);}
.projectList > .charts > .chartsNumber > ul > li:nth-child(2){color:rgba(54, 162, 235, 1);}
.projectList > .charts > .chartsNumber > ul > li:nth-child(3){color:rgba(255, 206, 86, 1);}
.projectList > .charts > .chartsNumber > ul > li:nth-child(4){color:rgba(75, 192, 192, 1);}
.projectList > .charts > .chartsNumber > ul > li:last-child{color:rgba(153, 102, 255, 1);margin-bottom:30px;}

.projectTaskContainer{width:1000px;background-color:#fff;border:1px solid #dee3eb;float:left;margin-top:10px;height:70px;}
.projectTaskContainer > .projectTaskContainerTitle{margin:20px 0px 0px 20px;font-weight:normal;font-size:20px;}
.projectTaskContainer > .projectTaskContainerTitle > i{vertical-align:middle;display:block;float:left;}
.projectTaskContainer > .projectTaskContainerTitle > span{display:block;margin-left:10px;vertical-align:middle;float:left;}

.projectTaskContainerDragDrop{width:1000px;background-color:transparent;float:left;margin-top:10px;}
.projectTaskDragDrop{clear:left;}
#titleList{width:998px;height:45px;line-height:45px;font-size:20px;}
#titleList > li{float:left;}
.titleBox{width:199.5px;float:left;text-align:center;}
#planList{width:998px;height:100px;background-color:transparent;}
#planList > .column{width:190px;height:300px;float:left;border:1px solid #dee3eb;background-color:#fff;}
#planList > .column:first-child{margin-left:1px;}
#planList > .column:nth-child(2){margin-left:10px;}
#planList > .column:nth-child(3){margin-left:10px;}
#planList > .column:nth-child(4){margin-left:10px;}
#planList > .column:last-child{margin-left:10px;}
.portlet-placeholder{border:1px dotted black;height:150px;}
.portlet-header{width:100%;height:50px;font-size:20px;text-indent:10px;line-height:50px;}
.portlet-content{width:100%;height:100px;font-size:18px;padding:10px;background-color:#f2f2f2;overflow-y:scroll;}

.projectWriter{width:1000px;background-color:#fff;border:1px solid #dee3eb;float:left;margin-top:10px;}
.tabssTextArea{width:100%;height:100%;outline:none;text-indent:10px;font-size:20px;border:none;}
.tabssTextAreaSubmit {
    float:right;width:100px;height:40px;font-size:18px;background-color:#fff;border:1px solid #dee3eb;outline:none;cursor:pointer;
    margin:10px 0px 10px 0px;border-radius:5px;transition:0.5s;font-weight:normal;line-height:40px;
}
.tabssTextAreaSubmit:hover{background-color:#007fff;color:#fff;line-height:40px;border:1px solid #003eff;}
.calendarTitle{width:100%;outline:none;font-size:20px;text-indent:10px;padding:5px 0px 5px 0px;margin-top:5px;}
.calendarMemo{width:100%;outline:none;font-size:20px;text-indent:10px;padding:5px 0px 5px 0px;margin-top:5px;}
.calendarContainerInput{width:530px;padding:0px 0px 5px 0px;}
.calendarInputDiv{margin-top:5px;float:left;}
.calendarInputDiv > i{vertical-align:middle;font-size:20px;}
.calendarInputDiv > input[type=date]{vertical-align:middle;font-size:20px;}
.calendarInputDivSpan{float:left;font-size:30px;padding-top:5px;margin-left:20px;}
.calendarInputDivs{margin-top:5px;float:left;}
.calendarInputDivs > i{vertical-align:middle;font-size:20px;margin-left:20px;}
.calendarInputDivs > input[type=date]{vertical-align:middle;font-size:20px;}
.todoInput{width:100%;outline:none;font-size:20px;text-indent:10px;padding:5px 0px 5px 0px;margin-top:5px;}
.todoInputContent{width:100%;outline:none;font-size:20px;text-indent:10px;padding:5px 0px 5px 0px;margin-top:5px;}
.todoPlus{margin:10px 0px 0px 0px;height:25px;}
.todoPlus > i{font-size:20px;vertical-align:middle;float:left;cursor:pointer;}
.todoPlus > span{display:block;font-size:20px;vertical-align:middle;margin-left:5px;float:left;cursor:pointer;}

.currentCardList{width:1000px;background-color:#fff;border:1px solid #dee3eb;float:left;margin-top:10px;}
.cardUserInfo{padding:10px;width:100%;height:70px;margin-top:20px;}
.cardUserInfoImg{float:left;height:50px;padding-top:5px;padding-left:20px;}
.cardUserInfoImg > img{border-radius:100%;}
.cardUserInfoName{height:50px;float:left;padding-left:15px;padding-top:3px;}
.cardUserInfoName > b{font-size:20px;}
.cardUserInfoName > span{font-size:18px;color:#333;}
.updateDeleteIcon{float:right;width:50px;height:50px;margin-right:20px;text-align:center;padding-top:10px;}
.updateDeleteIcon > i{font-size:25px;cursor:pointer;}
.cardContent{width:100%;height:250px;padding:20px 30px 20px 30px;}
.cardContent > textarea{border:none;width:100%;height:100%;outline:none;font-size:18px;}
.cardContentBottom{width:100%;height:60px;padding:20px;border-top:1px solid #dee3eb;font-size:20px;}
.cardContentBottom > i{cursor:pointer;}
.cardContentBottom > span{cursor:pointer;vertical-align:middle;}
.cardContentBottom > i.icon-bubble{margin-left:20px;vertical-align:middle;}
.cardContentBottom > i.icon-bulb{margin-left:25px;vertical-align:middle;}
.cardContentComment{width:100%;min-height:150px;background-color:#f6f7f8;border-top:1px solid #dee3eb;}
.cardContentComment > ul > li:last-child{padding-bottom:20px;}
.cardContentCommentUser{width:100%;height:70px;padding:20px;}
.cardContentCommentUser > .cardContentCommentUserImg{float:left;margin-left:20px;}
.cardContentCommentUser > .cardContentCommentUserImg > img {border-radius:100%;}
.cardContentCommentUser > .cardContentCommentUserName{float:left;padding-top:1px;margin-left:15px;font-size:20px;}
.cardContentCommentUser > .cardContentCommentUserName > .times{margin-left:15px;color:#333;font-size:18px;}
.commentInput {
    width:850px;outline:none;font-size:20px;text-indent:10px;padding:5px 0px 5px 0px;margin-top:2px;
    border:1px solid #dee3eb;
}


/* FOOTER */
.currentFooter{width:100%;height:100px;background-color:#fff;border-top:1px solid #dee3eb;clear:left;}
.footerContent{width:1400px;margin:0 auto;}
.footerContent > p{font-size:18px;text-align:left;padding:20px;line-height:30px;}
.footerContent > p > span{font-weight:bold;}